html {
  font-size: 16px;
  margin: 1rem 1rem;
  line-height: 2rem;
  color: black;
  max-width: 1050px;
}

body {
  background-color: #F0F0F0;
  font-family: 'Source Serif Pro', serif;
  font-size: 1.25rem;
  width: 95%;
  overflow: auto;
}

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

h1 {
  margin-top: 2rem;
  margin-left: 1rem;
}

ol li li {
  list-style: lower-alpha;
}

ol li {
  margin-bottom: .25rem;
}

a {
  color: #3F86B5; /*Kolla en bra färg  #2A272A och #F2AAAA*/
  text-decoration: none;
  font-weight: 500;
}

header a {
  color: black;
}

footer a {
  color: black;
}

a:hover,
a:active {
  color: #232E36; /*#F2AAAA; Kolla färgen*/
  text-decoration: underline;
}

header, footer {
  width: 100%;
  border-radius: 15px;
  padding: 1rem;
  margin: 0rem 0rem 2rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  }

footer {
  margin-bottom: 2rem;
}

table {
  /*display: block;*/
  table-layout: auto;
  min-width: 300px;
  max-width: 90%;
  border-spacing: 5px;
  background-color: #f5f5f5;
  margin: 1rem;
  /*overflow-x: auto;*/

}

th {
  font-weight: 900;
  text-align: center;
  border: 1px solid gray;
}

td, th {
  border: 1px solid gray;
  padding: 5px;
}

/*tr:hover {background-color: #FAE9E1;}*/
/*tr:nth-child(even) {background-color: #FCFCFC;}*/

button {
  margin: 0.25rem;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 1.25rem;
  margin: 1rem;
  background-color: #919191; /*Kolla färgen*/
  border-radius: 10px;
  padding: 10px 20px;
}

nav ul li a {
  color: black;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.main_footer {
  color: black; /*Kolla färg*/
  justify-content: space-between;
  font-size: 0.9rem;
  }

.main_footer a {
  color: black; /*Kolla färg*/
}

.video {
  overflow: hidden;
  margin: 1rem;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.video iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.responsivepic800 {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.responsivepic600 {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.responsivepic400 {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.responsivepic250 {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.responsivepic100 {
  width: 100%;
  max-width: 100px;
  height: auto;
}

.geogebra {
  overflow: visible;
  margin: 1rem;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.geogebra iframe{
  border-radius: 10px;
  height:100%;
  width:100%;
  position:absolute;
}

.theory {
  width: 100%;
  font-size: 1.25rem;
  padding: 2rem;
  margin: 2rem 0rem;
  border-radius: 15px;
  background-color: inherit;
}

.box {
  margin: 2rem 0;
  border-radius: 5px;
  padding: 2rem;
}

.intro {
  background-color: #FCFCFC;
  border-left: solid 25px #F2AAAA;
}

.exercise {
  background-color: #FCFCFC;
}

.summary {
  background-color: #F2AAAA; /* ÄNDRA */
}

.discussion {
  background-color: #F2F2DA; /*Ändra */
  border-left: solid 25px #BBC18B;
}

.answer, .hint {
  margin: 0.5rem;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #BAD9DE; /*Kolla en bra färg*/
  max-width: 90%;
}

.level { /*För symbolerna som beskriver nivån*/
  position: absolute;
  left: 2rem;
  z-index: -1;
  color: #E8C3D1; /*#FFE4E3 Gamla */
}

.source {
  color: #2A272A;
  font-size: 0.75rem;
}

.btn-sm, .btn-sm:visited {
  background-color: #BAD9DE;
  border-color: #C5CEDE;
  color: black;
  font-family: Raleway;
  font-weight: normal;
}

.btn-sm:hover {
  background-color: #BAD9DE;
  border-color: #F2AAAA;
  color: black;
}

.btn-sm:active {
  background-color: #BAD9DE !important;
  border-color: #F2AAAA !important;
  color: black !important;
}

.kurs_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: center;

}

.kurs {
  font-size: 1rem;
  background-image: none;
  border-radius: 20px;
  height: 200px;
  width: 250px;
  margin: 15px;
  display: inline-block;
  padding: 5px;
  transition: background-color 0.5s linear,
  border-radius 1s linear;
}

.kurs h4 {
  font-size: 1.25rem;
  color: black;
  margin-top: 20%;
}

.kurs:hover {
  border-radius: 50px;
  background-position: center top;
  background-size: cover;
}

.kurs h4:hover {
  background-color: rgba(255, 255, 255, 0.4) ;
  border-radius: 10px;
}

.kurs.Robo:hover {
  background-image: url(pics/Robo_400.jpg);
}

.kurs.Fysik:hover {
  background-image: url(pics/Fysik_400.jpg);
}

.kurs.MaG:hover {
  background-image: url(pics/MaG_400.jpg);
}

.kurs.MaG2021:hover {
  /*background-image: url(pics/MaG_400.jpg); */
}

.kurs.MaA2:hover, .kurs.MaA22021:hover {
  background-image: url(pics/MaA2_400.jpg);
}

.kurs.MaA3:hover, .kurs.MaA32021:hover {
  background-image: url(pics/MaA3_400.jpg);
}

.kurs.MaA4:hover, .kurs.MaA42021:hover {
  background-image: url(pics/MaA4_400.jpg);
}

.kurs.MaA5:hover{
  background-image: url(pics/MaA5_400.jpg);
}

.kurs.MaA6:hover, .kurs.MaA62021:hover {
  background-image: url(pics/MaA6_400.jpg);
}

.kurs.MaA7:hover, .kurs.MaA52021:hover {
  background-image: url(pics/MaA7_400.jpg);
}

.kurs.MaA8:hover {
  background-image: url(pics/MaA8_400.jpg);
}

.kurs.MaA9:hover, .kurs.MaA72021:hover{
  background-image: url(pics/MaA9_400.png);
}

.kurs.MaA10:hover, .kurs.MaA82021:hover {
  background-image: url(pics/MaA10_400.png);
}

.kurs.MaA102021:hover{
  background-image: url(pics/MaA10_2021_400.png);
}

.kurs.MaA11:hover {
  background-image: url(pics/MaA11_400.jpg);
}

.kurs.MaA112021:hover{
  background-image: url(pics/MaA11_2021_400.png);
}

.kurs.MaA12:hover {
  background-image: url(pics/MaA12_400.jpg);
}

.kurs.MaA13:hover {
  background-image: url(pics/MaA13_400.jpg);
}

.kurs.MaA15:hover {
  background-image: url(pics/MaA15_400.jpg);
}

.grid-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.grid-item {
  border: dotted #BDBDBD 2px;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 5px;
  margin: 3px 3px;
}

.Fysik, .Fysik2021 {
  /*background-color: #FF9671;*/
  background-color: #99DEFF;
}

.MaG, .MaG2021, .MaA2, .MaA22021, .MaA52021 {
  /*background-color: #CCBB2D;*/
  background-color: #D8E6F0;
}

.MaA3, .MaA4, .MaA5, .MaA32021, .MaA42021 {
  /*background-color: #52E5FF;*/
  background-color: #B9AA87;
}

.MaA6, .MaA62021, .MaA7, .MaA72021, .MaA8, .MaA9 {
  /*background-color: #279EB3;*/
  background-color: #BAD9DE;
}

.MaA10, .MaA82021 {
  /*background-color: #B8B06A;*/
  background-color: #CF9EAC;
}

.MaA11, .MaA12, .MaA13, .MaA102021, .MaA112021 {
  /*background-color: #FF6BAD;*/
  background-color: #ED982A;
}

.MaA15 {
  /*background-image: linear-gradient(to right top, #52e5ff, #4ad7f1, #42cae2, #3abcd4, #32afc6, #23aacd, #21a4d2, #2e9dd6, #6897e6, #a48be6, #d97bd2, #ff6bad);*/
  background-color: #8CB860;
}

.Robo {
  background-color: #FFCC33;
}

/* Media stuff */
@media only screen and (max-width: 768px) {

html {
  font-size : 14px;
  margin: 0.5rem;
}

h3 {
  font-size: 1rem;
}

.mobile {
  display: none;
}

.kurs {
  font-size: 1rem;
  height: 125px;
  width: 156px;
  margin: 10px;
}

.kurs h4 {
  font-size: 1rem;
  color: black;
  margin-top: 20%;
}

.box {
  padding: 1rem;
}

}

@media only screen and (max-width: 520px) {

html {
  font-size : 12px;
}

}
