.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
}

.element {
  background-color: coral;
  padding: 30pt;
  margin: 20pt;
}

h3 {
  font-family: Garamond;
  font-size: 40pt;
}
